#data-wrapper {
  opacity: 0;
  position: absolute;
  transform: translate(-100vmax, -100vmax);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.orientation-message {
  display: none;
}

.go-up-button {
  position: fixed;
  z-index: var(--above-layer);
  width: var(--icon-500);
  height: var(--icon-500);
  bottom: 10%;
  right: 0;
  border-radius: var(--radius-circle) 0 0 var(--radius-circle);
  background-color: var(--primary-color);
  fill: var(--primary-color-light);
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  transform: scale(0) translateX(-110%);
  transition: all 0.3s ease-in-out, transform 0.7s ease-out;
  pointer-events: none;
  opacity: 0;
}

.go-up-button[go-top-button="true"] {
  transform: translateX(0) scale(1);
  opacity: 0.7;
  pointer-events: all;
}

.skip-nav {
  position: absolute;
  top: 0;
  left: 0;
  border: var(--border-size-100) solid var(--accent-color);
  transform: translateY(-100%) scale(0.8);
  transition: var(--transition-300);
  z-index: var(--higher-layer);
}

/* scroll down button */
.scroll-down-button {
  background-color: transparent;
  position: absolute;
  display: grid;
  place-self: center;
  place-items: center;
  place-content: center;
  bottom: 1em;
  font-size: var(--font-500);
  font-weight: var(--Bold);
  width: 100%;
}

.scroll-icon {
  width: 25px;
  height: 50px;
  border-radius: 25px;
  border: var(--border-size-100) solid var(--primary-color-light);
  display: grid;
  place-content: center;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
  margin-top: 0.5rem;
}

.innerScrollIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color-light);
  transform: translateY(-100%);
  animation: innerCircleAnim 4s ease alternate infinite;
}

/*  ? Main Content */

/* * No Script */
noscript {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--higher-layer);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  place-self: center;
  place-items: center;
  background: linear-gradient(var(--background-color));
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height, 10vh);
  width: 100dvw;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  z-index: var(--above-layer);
  background-color: var(--primary-color-dark);
}

header[data-is-interacting="true"] {
  --headerHight: min(8vh, 8dvh);
  transform: translateY(-5%);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: var(--backgroundColor);
  opacity: 0.8;
}

.main-menu {
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

main {
  min-height: 90vh;
  margin-top: var(--header-height, 10vh);
  padding: 0 var(--spacing-200);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.body-container {
  margin: var(--spacing-600) var(--spacing-300);
  padding: var(--spacing-400) var(--spacing-100);
  max-height: 90vh;
  max-height: 90dvh;
  isolation: isolate;
}

.hero-section {
  justify-content: space-between;
}
.hero-article {
  text-align: left;
  display: grid;
  align-items: center;
  justify-items: start;
  align-content: center;
  justify-content: center;
  gap: var(--spacing-200);
  margin: 0 var(--spacing-500);
}

.hero-title {
  max-width: 70%;
  font-size: var(--font-800);
}

.hero-paragraph {
  max-width: 70%;
  font-size: var(--font-500);
  font-weight: 500;
  color: var(--secondary-color);
}

.hero-image {
  width: calc(20em + 5px + 12.5vw + 12.5vh);
}

.tooltip-container {
  position: absolute;
  top: -110%;
  background-color: var(--primary-color-dark);
  padding: var(--spacing-100);
  border-radius: var(--radius-100);
  z-index: 20;
  display: none;
}

.tooltip-container[data-visible="true"] {
  display: grid;
}

.underline-keyword-container {
  display: inline-block;
  isolation: isolate;
  position: relative;
}

.underline-keyword-text {
  z-index: 1;
  text-shadow: var(--shadow-accent-text);
}

.underline-keyword-image {
  position: absolute;
  z-index: -1;
  inset: 0.5em 0 0 0;
  max-width: 100%;
  opacity: 0.95;
}

.hero-circles-effect {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 10em;
  right: 0;
  z-index: -1;
  opacity: 0.5;
  filter: blur(40px);
}

.cir-effect {
  width: var(--size-circle);
  height: var(--size-circle);
  border-radius: var(--radius-circle);
  filter: blur(10px);
}

.cir-effect[data-attr="primary"] {
  background-color: var(--primary-color);
  transform: translate(10%, 10%);
}

.cir-effect[data-attr="secondary"] {
  background-color: var(--primary-color-light);
  transform: translate(-10%, -10%);
}

.scroll-down-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 50px;
  border-radius: var(--radius-rounded);
  border: 2px solid var(--primary-color-light);
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  cursor: pointer;
}

.scroll-down-indicator-ball {
  width: 13px;
  height: 13px;
  border-radius: var(--radius-circle);
  background-color: var(--primary-color-light);
  transform: translateY(-100%);
  animation: innerCircleAnim 4s ease alternate infinite;
}

@keyframes innerCircleAnim {
  0% {
    transform: translateY(-100%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

.outline-button {
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
  font-size: var(--font-500);
  font-weight: 800;
  border: none;
  transition: all 0.3s ease;
}

.outline-button::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 60%;
  left: -20px;
  top: -5px;
  border-radius: 1em 0.25em;
  background-color: var(--primary-color);
  z-index: -1;
  transition: all 0.3s ease;
}

.outline-button:hover {
  color: var(--primary-color);
}
.outline-button:hover::before {
  width: 100%;
  height: 100%;
  transform: scale(1.1) translateY(-5%);
  left: 0;
  top: 0;
  border-radius: var(--radius-100);
  background-color: var(--primary-color-light);
}

.section-article {
  margin-left: var(--spacing-400);
  width: 90%;
}
.section-title {
  max-width: 70%;
  font-size: var(--font-800);
}
.section-paragraph {
  font-size: var(--font-400);
}

.section-image {
  width: var(--size-500);
  height: var(--size-500);
}

img {
  width: var(--size-400);
  height: var(--size-400);
}

.plans-section {
  min-height: 100vh;
  overflow: hidden;
}

.plans-container {
  width: 100%;
  padding: 0 var(--spacing-800);
  justify-content: space-around;
}

.plan-card {
  height: 500px;
  width: 300px;
  background-color: var(--primary-color);
}

/* Login Page */
.login-page {
  max-height: 80vh;
  max-width: 100vw;
  overflow: hidden;
  justify-content: space-around !important;
}

.register-page {
}
.register-form-container,
.login-form-container {
  min-width: 35vw;
  height: 50vh;
  display: grid;
  align-content: flex-start !important;
}

.register-form-container {
  height: 100vh;
}

.auth-article {
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  text-align: center;
  gap: var(--spacing-100);
  margin-bottom: var(--spacing-400);
}
.auth-title {
  max-width: 20ch;
  min-width: 16ch;
}

.auth-description {
  font-size: var(--font-100);
  font-weight: 600;
  color: var(--secondary-color);
}

.login-illustration.illustration-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 650px;
  height: 650px;
  object-fit: contain;
  transform: translate(2%, 12.5%);
}
.register-illustration.illustration-left {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 650px;
  height: 650px;
  object-fit: contain;
  transform: translate(2%, 0%);
}

.login-illustration.illustration-right {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  right: 10%;
  top: 30%;
  object-fit: contain;
}
.register-illustration.illustration-right {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  left: 10%;
  top: 30%;
  object-fit: contain;
}
